@import 'tailwindcss';

body {
  @apply bg-gradient-to-br from-slate-800 to-gray-900 text-white;
}

@keyframes bg-shine {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

.animate-bg-shine {
  animation: bg-shine 5s linear infinite;
}

@theme{
  --font-primary:"Poppins", "sans-serif";
}